@page "/account"
@using Susurri.Client.Models
@using System.Text.Json
@using System.Text
@inject HttpClient Http

<h3>Account</h3>

@if (IsLoggedIn)
{
    <div class="alert alert-success" role="alert">
        You are successfully signed up and logged in!
    </div>
}

<EditForm Model="@SignUp" OnValidSubmit="@HandleValidSubmit" Id="accountForm">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="SignUp.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="SignUp.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</EditForm>

@code {
    bool IsLoggedIn = false;
    SignUpViewModel SignUp { get; set; } = new SignUpViewModel();

    private async Task HandleValidSubmit()
    {
        var signUpJson = JsonSerializer.Serialize(SignUp);
        var signUpContent = new StringContent(signUpJson, Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("https://localhost:7200/account/signup", signUpContent);

        if (response.IsSuccessStatusCode)
        {
            IsLoggedIn = true;
        }
        else
        {
            var errorResponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Error: {errorResponse}");
        }
    }
}