@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<ul>
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code
{
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new();

    private async Task StartHubConnection()
    {
        var apiAdress = "https://localhost:5050";

        var sensorDataUrl = $"{apiAdress}/Chat";
        _hubConnection = new HubConnectionBuilder().WithUrl(sensorDataUrl).Build();
        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}